.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flight-search-container{
  width : 90vw;
  /* height : 30vh; */
  padding : 20px;
  margin : 0 auto 0 auto;
  border : 2px solid grey;
}
.calendar-container{
  display : flex;
  flex-direction: row;
  justify-content : space-between;
  width : 80%;
  border : 2px solid blue;
}
.calendar{
  display : inline-block;
  position: absolute;
  width : 50%;
  margin-left : 21%;
  visibility: hidden;
}

input{
  padding: 10px 15px 10px 0px;
  width : 185px;
  border-left : none;
  border-right : none;
  border-top : none;
  border-bottom : 1px solid blue ;
  margin : 5px;
  outline : none;
}

.span{
  display : block;
  padding : 10px 0px 10px 0;
}

.span:nth-child(even){
  background-color: #f2f2f2;
}

#search_result{
  max-height: 145px;
  overflow : scroll;
}

.prop{
  display : flex;
  border : 1px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
